<div class="accordion accordion-flush" id="accordionFlushExample">
	{% for post in posts %}
		<div class="box mt-3 accordion-item">
			<div class="post">
				<div class="post-author">
					<div class="d-flex aic jcb mb-1">
						<a href="{{ path('profile.index', { user: post.author.id }) }}" class="h5 post-author text-white">{{ post.author }}</a>
						{% if post.author == app.user %}

							<div class="btn-group">
								<button type="button" class="btn text-white" data-bs-toggle="dropdown" aria-expanded="false">
									<i class="bi bi-three-dots-vertical"></i>
								</button>
								<ul class="dropdown-menu dropdown-menu-end">
									<li>
										<a class="dropdown-item" href="?page={{ app.request.query.get('page')|default(1) }}&edit={{ post.id }}">Edit</a>
									</li>
									<li>
										<a href="{{ path('redirection.posts.remove', { post: post.id }) }}" class="dropdown-item text-danger" type="button">Delete</a>
									</li>
								</ul>
							</div>
						{% endif %}
					</div>
					<div class="d-flex aic">
						{% for category in post.categories %}
							<span class="badge bg-primary me-2">{{ category }}</span>
						{% endfor %}
					</div>
				</div>
				<h2 class="text-muted h6 mt-3">{{ post.title }}</h2>
				<div class="post-content">
					{{ post.content }}
				</div>
				<hr class="m-0 mt-3">
				<div class="post-meta mt-1 d-flex aic jcb">
					<div class="d-flex">
						<div class="d-flex aic" {{ stimulus_controller('like') }} data-id="{{ post.id }}">
							<button type="button" class="btn text-white me-2 p-0" {{ stimulus_action('like', 'like') }}>
								<i data-icon class="bi bi-hand-thumbs-up{{ app.user in post.likes ? "-fill" : null }}"></i>
							</button>
							<span data-like class="post-author">{{ post.likes|length }}
								like{{ post.likes|length > 1 ? "s" : null }}</span>
						</div>
						<button class="btn text-white collapsed d-flex aic ms-3" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapse-{{ post.id }}" aria-expanded="false" aria-controls="flush-collapse-{{ post.id }}">
							<span class="text-white me-2 p-0">
								<i class="bi bi-chat-right"></i>
							</span>
							<span class="post-author">{{ post.comments|length }}
								comment{{ post.comments|length == 0 ? "" : "s" }}</span>
						</button>
					</div>
					<span class="post-date">{{ post.createdAt|date() }}</span>
				</div>
			</div>
			<div id="flush-collapse-{{ post.id }}" class="accordion-collapse collapse" aria-labelledby="flush-heading-{{ post.id }}" data-bs-parent="#accordionFlushExample">
				<form method="POST" class="p-3">
					<textarea id="content" name="content" required="required" placeholder="Write your comment here..." class="form-control"></textarea>
					<input type="hidden" name="post" value="{{ post.id }}"/>
					<div class="d-flex aic jce">
						<button type="submit" class="btn btn-primary mt-3">Comment</button>
					</div>
				</form>
				{% for key, comment in post.comments %}
					<hr>
					<div class="comment p-2 {{ key == 0 ? " mt-3" : " " }}" {{ stimulus_controller('comment') }}>
						{% if comment.reply != null %}
							<div class="comment-replpy ms-2 my-3 py-1 d-flex flex-column">
								<span class="comment-author ps-3">{{ comment.reply.author }}
									:</span>
								<span class="comment-content ps-3">{{ comment.reply.content }}</span>
							</div>
						{% endif %}
						<div class="comment-content">
							{{ comment.content }}
						</div>
						<div class="comment-meta d-flex aic jcb pt-2">
							<div class="d-flex aic">
								<span class="comment-author">{{ comment.author }}</span>
								<button class="btn text-white text-decoration-underline ms-3 clickable" {{ stimulus_action('comment', 'reply') }}>Reply</button>
							</div>
							<span class="comment-date">{{ comment.createdAt|date() }}</span>
						</div>
						<form method="POST" class="p-3 d-none">
							<textarea id="content" name="content" required="required" placeholder="Write your reply here..." class="form-control"></textarea>
							<input type="hidden" name="post" value="{{ post.id }}"/>
							<input type="hidden" name="reply" value="{{ comment.id }}"/>
							<div class="d-flex aic jce">
								<button type="submit" class="btn btn-primary mt-3">Reply</button>
							</div>
						</form>
					</div>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
</div>
