<div class="profile-sidebar box">
	<div class="d-flex jcb">
		<div class="d-flex flex-column p-2">
			<h2 class="h6 m-0">{{ user }}</h2>
			<h2 class="h6 m-0">{{ user.friends|length }}
				friends</h2>
		</div>
	</div>
	<hr>
	<div class="d-flex flex-column">

		{% if isFriend %}
			<span>You're friend with <strong>{{ user }}</strong></span>
		{% else %}
			{% if invitation != null %}
				{% if invitation.emitter == app.user %}
					<span>You sent an invitation to {{ user }}</span>
				{% else %}
					<span>{{ user }}
						sent you an invitation</span>
				{% endif %}
			{% else %}
				<span>You're not friend with <strong>{{ user }}</strong></span>
			{% endif %}
		{% endif %}

		<div class="mt-2">
			{% if isFriend %}
				<a href="{{ path('friends.remove', { user: user.id }) }}" class="btn btn-danger w-100">Remove from friends</a>
			{% else %}
				{% if invitation != null %}
					{% if invitation.emitter == app.user %}
						<a href="{{ path('redirection.invitation', { "invitation": invitation.id, "result": "decline" }) }}" class="btn btn-danger w-100">Cancel invitation</a>
					{% else %}
						<a href="{{ path('redirection.invitation', { "invitation": invitation.id, "result": "accept" }) }}" class="btn btn-success w-100">Accept invitation</a>
						<a href="{{ path('redirection.invitation', { "invitation": invitation.id, "result": "decline" }) }}" class="btn btn-danger w-100">Refuse invitation</a>
					{% endif %}
				{% else %}
					<a href="{{ path('invitation.send', { user: user.id }) }}" class="btn btn-success w-100">Send an invitation</a>
				{% endif %}
			{% endif %}
		</div>
	</div>
</div>
